@import "parcials/navbar.scss"; 
@import "parcials/footer.scss"; 
@import "parcials/font-styles";
*{
    box-sizing: border-box;
    margin:0;
    padding: 0; 
}
.title{
    @include title-style;
    margin-bottom: 0px;
}
body{
    font-family: 'Barlow', sans-serif;
    background-color: $background-color;
}

.head{
    color: white;
}

.header{
    @include header;
}

.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    ul{
        list-style-type: none;
    }
    div{
        background-color: $background-break;
        display:flex;
        flex-direction: column;
        margin-bottom: 20px;
        border-style: solid;
        border-width: 1px;
        color:white;
        text-align: center;
        width: 40%;
        img{
            width: 100%;
            height: 120px;
            align-items: center;
        }
        p{ 
            font-size: 14px;
        }
    }

}
@media only screen and (min-width: 600px) {
        /*larger than 601px - 768px*/
        /* For tablets: */
    .list{

        div{

            border-width: 2px;
            margin: 10px 0px;
            justify-content: center;
            align-items: center;
            p{
                text-align: center;
            }
            img{
                width: 120px;
                height: 120px;
            }
            p{
                padding: 0px 20px;
            }
        }
    }
}

@media only screen and (min-width: 769px) {
        /*anything beyoud 769px*/
        /* For desktop: */
        .list{
            div{
                border-width: 2px;
                margin: 10px 0px;
                justify-content: center;
                align-items: center;
                p{
                    text-align: center;
                }
                img{
                    width: 180px;
                    height: 160px;
                }
                p{
                    font-size: 18px;
                    padding: 0px 50px;
                    line-height: 1.7;
                }   
                a{
                    text-decoration: none;
                    
                }  
                .readme{
                    font-size: 14px;
                    transition: font-size 0.5s;
                    
                }
                .readme:hover{
                    
                    font-size: 20px;
                }
            }
        }
}
    