@import "parcials/navbar.scss"; 
@import "parcials/footer.scss"; 
@import "parcials/font-styles"; 
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
  background-color: $background-color;
  font-family: 'Barlow', sans-serif;  
  p{
    color: white;
  }
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: $background-break;
    padding: 20px;
    color: white;
  }

.title{
    @include title-style;
}
.form-text{
    font-size: 20px;
    padding: 0 10px;
}

@media only screen and (min-width: 600px) {
    /*larger than 601px - 768px*/
      /* For tablets: */
      .title{
          font-size: 5vw;
      }
      .form-text{
          text-align: center;
          font-size: 2.7vw;
      }
}

    @media only screen and (min-width: 769px) {
    /*anything beyoud 769px*/
      /* For desktop: */
    }