@import "parcials/navbar.scss"; 
@import "parcials/footer.scss"; 
@import "parcials/font-styles";
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
@mixin flexbox($direction){
    display: flex;
    flex-direction: $direction;
    align-items: center;
}
.title{
    @include title-style;
}
.header{
    @include header;
}
.uni{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.languages{
    text-align: center;
    p{
        margin-bottom: 20px;
    }
}
.languages-container{
    @include flexbox(row);
    justify-content: space-evenly;
    
    img{
        width: 50px;
        height: 50px;
    }
    .html{
        img{
            width: 70px;
        }
    }
}

.projects{
    @include flexbox(column);
    margin: 0 10px;
    div{
        display: flex;
        border-style: solid;
        border-width: 2px;
        margin: 10px 0px;
        justify-content: center;
        align-items: center;
    }
    img{
        width: 180px;
        height: 150px;
        padding:5px;
    }
    p{
        padding-left: 7px;
        font-size: 14px;
    }
}

    @media only screen and (min-width: 600px) {
        /*larger than 601px - 768px*/
        /* For tablets: */
        .title{
            font-size: 5vw;
        }
        h2{
            font-size: 30px;
        }
        .projects{
            p{
                font-size: 20px;
            }
            img{
                width: 250px;
                height: 205px;
            }
        }
    }
        @media only screen and (min-width: 769px) {
        /*anything beyoud 769px*/
        /* For desktop: */
        .title{
            font-size:5vw;
        }
        .uni{
            p{
                font-size: 1.6vw;    
            }
        h2{
            font-size: 30px;
        }
        .projects{
            align-items: center;
            div{
                width:90%;
                margin-bottom: 50px;
            }
            p{
                width:80%;
                font-size: 1.9vw
            }
            img{
                width:280px;
                height:200px;
            }
        }
    }
}