@import "parcials/navbar.scss"; 
@import "parcials/footer.scss"; 
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
$primary-color: #4CDEF5;
$secondary-color: #A4D555;
$blush: #ff5992;
$orchid: #841983;
.title{
    text-align: center;
}
h2{
    text-align: center;
}

.uni{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    img{
        width: 20%;
        margin: 10px;
        float: left;
    }
}
.accounts{
    text-align: center;
    margin-bottom: 40px;
    .github{
        float: left;
        width: 50%;
        padding: 5px;
    }
    .LinkedIn{
        float: left;
        width: 50%;
        padding: 5px;
    }
}
.accounts::after {
    content: "";
    clear: both;
    display: table;
}

.projects{
    display: flex;
    flex-direction: column ;
    margin: 0 10px;
    div{
        display: flex;
        border-style: solid;
        border-width: 1px;
        margin: 10px 0px;
        justify-content: center;
        align-items: center;
    }
    img{
        width: 40%;
        height: 40%;
    }
    p{
        padding-left: 7px;
        font-size: 14px;
    }
}
[class*="col-"] {
    width: 100%;
  }
    @media only screen and (min-width: 600px) {
        /*larger than 601px - 768px*/
        /* For tablets: */
        .col-s-1 {width: 8.33%;}
        .col-s-2 {width: 16.66%;}
        .col-s-3 {width: 25%;}
        .col-s-4 {width: 33.33%;}
        .col-s-5 {width: 41.66%;}
        .col-s-6 {width: 50%;}
        .col-s-7 {width: 58.33%;}
        .col-s-8 {width: 66.66%;}
        .col-s-9 {width: 75%;}
        .col-s-10 {width: 83.33%;}
        .col-s-11 {width: 91.66%;}
        .col-s-12 {width: 100%;}
        .title{
            font-size: 48px;
        }
        h2{
            font-size: 30px;
        }
        .accounts{
            img{
                width:60%;
                height: 220px;
            }
            p{
                font-size: 20px;
                text-align: center;
            }
        }
        .projects{
            p{
                font-size: 18px;
            }
            img{
                padding: 5px;
            }
        }
    }
        
        @media only screen and (min-width: 769px) {
        /*anything beyoud 769px*/
        /* For desktop: */
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
        .title{
            font-size:5vw;
        }
        .uni{
            p{
                padding-right: 5%;
                font-size: 1.6vw;
                text-align: right;
                float: right;
                width:70%;
                
            }
            img{
                width: 20%;
                margin: 10px;
                float: left;
            }
        }
        h2{
            font-size: 30px;
        }

        .accounts{
            clear: both;
            img{
                width:20%;
            }
            p{
                font-size: 1.6vw;
                text-align: center; 
            }
        }
        .projects{
            align-items: center;
            div{
                height: 80%;
                width:70%;
                margin-bottom: 70px;
            }
            p{
                width:60%;
                font-size: 1.4vw

            }
            img{
                padding: 5px;
                width:50%;
                height:100%;
            }
        }
        }


