.flex-container {
  display: flex;
  justify-content: center;
  background-color: #6b6e70;
  position: fixed;
  top: 0;
  width: 100%;
}
.flex-container a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.flex-container a:hover {
  background-color: #86c232;
}

@media only screen and (min-width: 600px) {
  /*larger than 601px - 768px*/
  /* For tablets: */
  .flex-container p {
    font-size: 22px;
  }
}
@media only screen and (min-width: 769px) {
  /*anything beyoud 769px*/
  /* For desktop: */
  .flex-container p {
    padding-right: 20px;
    font-size: 30px;
  }
}
#copyright {
  font-size: 10px;
  padding-top: 20px;
  text-align: left;
}

.contact {
  padding-left: 10px;
  padding-top: 20px;
  height: 150px;
  margin-top: 20px;
  text-align: left;
  font-size: 16px;
  color: white;
  background: #6b6e70;
}
.contact a {
  align-items: center;
  color: white;
  padding-right: 10px;
}
.contact a:active {
  color: white;
}

@media only screen and (min-width: 600px) {
  /*larger than 601px - 768px*/
  /* For tablets: */
  .links {
    text-align: center;
  }
}
@media only screen and (min-width: 769px) {
  /*anything beyoud 769px*/
  /* For desktop: */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: #222629;
}
body p {
  font-family: "Barlow", sans-serif;
  color: white;
}

.title {
  margin-top: 80px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 40px;
  color: #86c232;
  font-family: "Barlow", sans-serif;
}

.header {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 40px;
  color: #86c232;
  font-family: "Barlow", sans-serif;
}

.uni {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.languages {
  text-align: center;
}
.languages p {
  margin-bottom: 20px;
}

.languages-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.languages-container img {
  width: 50px;
  height: 50px;
}
.languages-container .html img {
  width: 70px;
}

#gameoflife {
  width: 100%;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
.projects div {
  display: flex;
  border-style: solid;
  border-width: 2px;
  margin: 10px 0px;
  justify-content: center;
  align-items: center;
}
.projects img {
  width: 180px;
  height: 150px;
  padding: 5px;
}
.projects p {
  padding-left: 7px;
  font-size: 14px;
}

@media only screen and (min-width: 600px) {
  /*larger than 601px - 768px*/
  /* For tablets: */
  .title {
    font-size: 5vw;
  }

  h2 {
    font-size: 30px;
  }

  .projects p {
    font-size: 20px;
  }
  .projects img {
    width: 250px;
    height: 205px;
  }
}
@media only screen and (min-width: 769px) {
  /*anything beyoud 769px*/
  /* For desktop: */
  .title {
    font-size: 5vw;
  }

  .uni p {
    font-size: 1.6vw;
  }
  .uni h2 {
    font-size: 30px;
  }
  .uni .projects {
    align-items: center;
  }
  .uni .projects div {
    width: 90%;
    margin-bottom: 50px;
  }
  .uni .projects p {
    width: 50%;
    font-size: 1.9vw;
  }
  .uni .projects img {
    width: 280px;
    height: 200px;
  }
}

/*# sourceMappingURL=history.css.map */
