@import "parcials/navbar.scss"; 
@import "parcials/footer.scss"; 
@import "parcials/font-styles"; 
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

@mixin flexbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    @include title-style;
}
.header{
    @include header;
}

.row {
    @include flexbox;
    flex-wrap: wrap;
    border: 3px solid #73AD21;
}
#profile{
    p{
    margin: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.7;
    }
    img{
        text-align:center;
        width:50%;
        display:block;
        margin:auto;
    } 
}

#projects{
    margin: 20px 0px 50px 0px;
}
.project-text{
    margin: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 1.7;
}
.image-container{
    ul{
        @include flexbox;
        list-style-type: none;
        flex-wrap: wrap;
    }
    img{
        width: 200px; 
        height:150px;
    }
    p{
        font-size: 14px;
    }
}
#accounts{
   @include flexbox;
}


[class*="col-"] {
    width: 100%;
  }

  @media only screen and (min-width: 600px) {
    /*larger than 601px - 768px*/
      /* For tablets: */
      .col-s-1 {width: 8.33%;}
      .col-s-2 {width: 16.66%;}
      .col-s-3 {width: 25%;}
      .col-s-4 {width: 33.33%;}
      .col-s-5 {width: 41.66%;}
      .col-s-6 {width: 50%;}
      .col-s-7 {width: 58.33%;}
      .col-s-8 {width: 66.66%;}
      .col-s-9 {width: 75%;}
      .col-s-10 {width: 83.33%;}
      .col-s-11 {width: 91.66%;}
      .col-s-12 {width: 100%;}
      #profile p{ font-size: 1.7em;}
      #profile img {width: 40%; margin: 0 30%}
      .title{font-size: 2.5em;}

      .project-text{
          p{
              font-size: 1.7em;
          }
      }
      .image-container{
          ul{
              display: flex;
              flex-direction:row;
              justify-content: space-evenly;
              flex-wrap: wrap;
              margin: 50px;
          }
          img{
              margin-right:20px;
              margin-bottom: 20px;
          }
          h2{
              font-size: 25px;
          }
      }
     
      #accounts{
          display: flex;
          flex-direction: row;
          justify-content: center;
          
          .github{
            padding: 50px;
          }
          .LinkedIn{
              padding: 50px;
          }
          img{
              width: 150px;
              height: 150px;
          }
          h3{
              font-size: 1.7em;
          }
      }
    
    } 
    @media only screen and (min-width: 769px) {
    /*anything beyoud 769px*/
      /* For desktop: */
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 25%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
      #profile {
          img{
            width: 50%; 
            margin: 0 15%;
            }
            p{
                font-size: 1.6vw;
            }
        }
        .project-text{
            font-size: 1.3em;
        }
        .image-container{
            img{
                width:350px;
                height:300px;
            }
            h2{
                font-size: 35px;
                justify-content: center;
            }
        }
    }
    @media only screen and (min-width: 1440px){
        #profile{
            p{
                font-size: 1.3vw
            }
        }  
      }
