@import "parcials/navbar.scss"; 
@import "parcials/footer.scss"; 
@import "parcials/font-styles"; 
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
/* Sets a flex box direction is set on include */
@mixin flexbox($direction){
    display: flex;
    flex-direction: $direction;
    align-items: center;
}
body{
    background-color: $background-color;
}
/* Used styleing from _font-styles*/
.title{
    @include title-style;
}
.header{
    @include header;
}

.row {
    @include flexbox(row);
    flex-wrap: wrap;
    justify-content:space-evenly;
}

#profile{
    p{
    margin: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.7;
    color: $font-color;
    }
    img{
        text-align:center;
        width:50%;
        display:block;
        margin:auto;
    } 
}

#projects{
    text-align: center;
    background-color: $background-break;
    .project-text{
        margin: 20px;
        font-size: 16px;
        line-height: 1.7;
        color: $font-color;
    }
    .image-container{
        ul{
            @include flexbox(column);
            list-style-type: none;
            flex-wrap: wrap;
        }
        img{
            width: 200px; 
            height:150px;
            margin-bottom: 20px;
        }
    }
}
#accounts{
   @include flexbox(row);
   justify-content: center;
}

.blog-container{
    @include flexbox(column);
    margin: 0 10px;
    background: linear-gradient(to bottom, $background-break 60%, $background-color 50%);
    li{
        @include flexbox(row);
        list-style-type: none;
        border: 3px solid #73AD21;
        align-items: center;
        margin: 10px 0px;
        img{
            width: 100px;
            height:100px;
        }
        p{
            padding: 0px 5px;
            color: $font-color;
        }
    }
}
[class*="col-"] {
    width: 100%;
  }

  @media only screen and (min-width: 600px) {
    /*larger than 601px - 768px*/
      /* For tablets: */
    #profile{
        .col-img{
            width:30%;
        }
        .col-text{
            width: 60%;
        }
        img{
            width: 60%;
        }
    }
      #projects{
        .project-text{
                
            font-size: 1.3em;
        }

        .image-container{
            ul{
                flex-direction:row;
                justify-content: space-evenly;
                flex-wrap: wrap;
                margin: 50px;
            }
            img{
                width: 400px;
                height:350px;
                margin-right:20px;
                margin-bottom: 20px;
            }
            h2{
                font-size: 30px;
            }
            .gameoflife, .website{
                width: auto;
            }
        }
      }
     
      #accounts{
          display: flex;
          flex-direction: row;
          justify-content: center;
          
          .github{
            padding: 50px;
          }
          .LinkedIn{
              padding: 50px;
          }
          img{
              width: 150px;
              height: 150px;
          }
          h3{
              font-size: 1.7em;
          }
      }
    } 
    .blog-container{
        flex-wrap: wrap;
        white-space: nowrap;
        margin: 0px;
        white-space: nowrap;
        li{
            white-space: nowrap;
            flex-direction: column;
        }
        p{
            display: inline;
        }
    }
    @media only screen and (min-width: 769px) {
    /*anything beyoud 769px*/
      /* For desktop: */
      .col-img{width: 33%;}
      .col-text {width: 50%;}

        #profile {
            img{width: 70%;}
            p{font-size: 1.3em;}
        }   

        #project{ 
            color: $background-break;
            background-color: #6b6e70;
            .project-text{
                font-size: 1.3em;
            }
            .image-container{
                h2{
                    font-size: 35px;
                    justify-content: center;
                }
            }
        }
        
    }
    @media only screen and (min-width: 1440px){
        #profile{
            p{
                font-size: 1.3vw
            }
        }  
      }
