@import "parcials/navbar.scss"; 
@import "parcials/footer.scss"; 
@import "parcials/font-styles"; 
@import "parcials/colors";

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
/* Sets a flex box direction is set on include */
@mixin flexbox($direction){
    display: flex;
    flex-direction: $direction;
    align-items: center;
}
body{
    font-family: 'Barlow', sans-serif;
    background-color: $background-color;
}

/* Used styleing from _font-styles*/
.title{
    @include title-style;
}
.header{
    @include header;
}

.row {
    @include flexbox(row);
    flex-wrap: wrap;
    justify-content:space-evenly;
}

#profile{
    p{
    margin: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.7;
    color: $font-color;
    }
    img{
        text-align:center;
        display:block;
        margin:auto;
        border-radius: 70%;
    } 
}

#projects{
    text-align: center;
    background-color: $background-break;
    .project-text{
        margin: 20px;
        font-size: 16px;
        line-height: 1.7;
        color: $font-color;
    }
    .image-container{
        ul{
            @include flexbox(column);
            list-style-type: none;
            flex-wrap: wrap;
        }
        img{
            width: 200px; 
            height:150px;
            margin-bottom: 20px;
        }
    }
}
#accounts{
   @include flexbox(row);
   justify-content: center;
   text-align: center;
   flex-wrap: wrap;
   h3{
       color: $font-color;
   }
   img{
       width: 180px;
       height: 140px;
   }
}
/* Styles Resume button*/
.resume{
    border: none;
    background-color: $secondary-color;
    border-radius: 15%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/*larger than 601px - 768px*/
      /* For tablets: */
  @media only screen and (min-width: 600px) {
    .title{
        font-size: 5vw;
    }
    
    #profile{
        .col-img{
            width:30%;
        }
        .col-text{
            width: 60%;
        }
        img{
            width: 60%;
        }
    }
      #projects{
        .project-text{
                
            font-size: 1.3em;
        }

        .image-container{
            ul{
                flex-direction:row;
                justify-content: space-evenly;
                flex-wrap: wrap;
                margin: 50px;
            }
            img{
                width: 400px;
                height:350px;
                margin-right:20px;
                margin-bottom: 20px;
            }
            h2{
                font-size: 30px;
            }
            .gameoflife, .website{
                width: auto;
            }
        }
      }
     
      #accounts{
          display: flex;
          flex-direction: row;
          justify-content: center;
          
          .github{
            padding: 50px;
          }
          .LinkedIn{
              padding: 50px;
          }
          img{
              width: 150px;
              height: 150px;
          }
          h3{
              font-size: 1.7em;
          }
      }
    } 
    .blog-container{
        flex-wrap: wrap;
        white-space: nowrap;
        margin: 0px;
        white-space: nowrap;
        li{
            white-space: nowrap;
            flex-direction: column;
        }
        p{
            display: inline;
        }
    }
/*anything beyoud 769px*/
      /* For desktop: */
@media only screen and (min-width: 769px) {
    .col-img{width: 33%;}
    .col-text {width: 50%;}

    #profile {
        img{width: 70%;}
        p{font-size: 1.3em;}
    }   

    #project{ 
        color: $background-break;
        background-color: #6b6e70;
        .project-text{
             font-size: 1.3em;
        }
        .image-container{
            h2{
                 font-size: 35px;
                justify-content: center;
            }
        }
    }
        
}
/*slight change to anything above 1440px*/
@media only screen and (min-width: 1440px){
     #profile{
        p{
             font-size: 1.3vw
         }
    }  
}
