@import"colors.scss";

@mixin title-style{
    margin-top: 80px;
    margin-bottom:10px;
    text-align: center;
    font-size: 40px;
    color: $secondary-color;
}
@mixin header{
    margin-top: 30px;
    margin-bottom:10px;
    text-align: center;
    font-size: 40px;
    color: $secondary-color;
}