@import"colors.scss";

@mixin title-style{
    margin-top: 60px;
    margin-bottom:10px;
    text-align: center;
    font-size: 40px;
    color: $primary-color;
}
@mixin header{
    margin-top: 60px;
    margin-bottom:10px;
    text-align: center;
    font-size: 40px;
    color: $primary-color;
}