@import"colors.scss";

#copyright{
    font-size: 10px;
    padding-top: 20px;
    text-align: left;
}
.contact{
    padding-left: 10px;
    padding-top:20px;
    height: 150px;
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
    color: white;
    background: $background-break;
    a{
      align-items: center;
      color:white;
      padding-right: 10px;
    }
    a:active{
      color: white;
    }
}
@media only screen and (min-width: 600px) {
    /*larger than 601px - 768px*/
      /* For tablets: */
      .links{
          text-align: center;

      }
    } 
    @media only screen and (min-width: 769px) {
    /*anything beyoud 769px*/
      /* For desktop: */

    }