@import"colors.scss";

/*Creates flax box at the top of the page for nav bar */
.flex-container{
    display: flex;
    justify-content: center;
    background-color: $background-break;
    position: fixed; /* sets the postion of nav bar to always be at top of page */
    top:0;
    width:100%;
    border-bottom: 3px solid;
  a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  a:hover{
    background-color: $secondary-color;
  } 
}
.home{
  background-color: $secondary-color;
}
.aboutme{
  background-color: $secondary-color;
}
.blog{
  background-color: $secondary-color;
}
.contact{
  background-color: $secondary-color;
}


@media only screen and (min-width: 600px) {
  /*larger than 601px - 768px*/
    /* For tablets: */
    .flex-container{
      p{
        font-size: 22px;
      }
    }
  } 
  @media only screen and (min-width: 769px) {
  /*anything beyoud 769px*/
    /* For desktop: */
    .flex-container{
      p{
        padding-right: 20px;
        font-size: 30px;
      }
    }
  }